<ngx-spinner></ngx-spinner>




<body class="body">

    <section class="bg">
        <div class="content">

            <div class="from-content">
                <div class="text-center img">
                    <img src="assets/pp logo blue.png" alt="" class="h-100">
                    <p class="text-center health" style="font-size: 20px;">{{bindingvalue}}</p>

                </div>

                <form class="example-form mt-3">
                    <!-- <mat-form-field class="example-full-width">
                        <mat-label><i class="fa fa-envelope"></i> Email</mat-label>
                        <input matInput placeholder="Enter Mail" value="" type="email">
                    </mat-form-field> -->

                    <mat-form-field class="example-full-width">
                        <mat-label><i class="fa fa-lock"></i>Old Password</mat-label>
                        <input matInput placeholder="Enter Old Password" [type]="hide?'password':'text'" [(ngModel)]="changedata.oldPassword" [formControl]="oldPassword" name="oldPassword" type="password">
                        <span class="material-icons cursor" matSuffix (click)="hide = !hide">
                            {{hide?'visibility': 'visibility_off'}}
                        </span>
                        <mat-error *ngIf="oldPassword.hasError('required')">
                            Old Password is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width mb-2">
                        <mat-label><i class="fa fa-lock"></i>New password</mat-label>
                        <input matInput placeholder="Enter New Password" [type]="hide1?'password':'text'" [(ngModel)]="changedata.newPassword" [formControl]="newPassword" name="newPassword" type="password">
                        <span class="material-icons cursor" matSuffix (click)="hide1 = !hide1">
                            {{hide1?'visibility': 'visibility_off'}}
                        </span>
                        <mat-error *ngIf="newPassword.hasError('required')">
                            <p class="error"> Password should be mini 8 characters with 1 upper case, 1 lower case, 1 digit and 1 special character</p>
                        </mat-error>

                        <mat-error *ngIf="newPassword.hasError('minLength')">
                            Password should be mini 8 characters with 1 upper case, 1 lower case, 1 digit and 1 special character
                        </mat-error>
                        <mat-error *ngIf="newPassword.hasError('pattern')">
                            Password should be mini 8 characters with 1 upper case, 1 lower case, 1 digit and 1 special character
                        </mat-error>

                    </mat-form-field>
                    <mat-form-field class="example-full-width mt-2">
                        <mat-label><i class="fa fa-lock"></i>Confirm password</mat-label>
                        <input matInput placeholder="Enter New Password" [type]="hide2?'password':'text'" [(ngModel)]="changedata.confpassword" name="confpassword" [formControl]="confPassword1" type="password" (keyup)="onKey($event)">
                        <span class="material-icons cursor" matSuffix (click)="hide2 = !hide2">
                            {{hide2?'visibility': 'visibility_off'}}
                        </span>
                        <mat-error *ngIf="confPassword1.hasError('required')">
                            Confirm Password is required
                        </mat-error>

                    </mat-form-field>
                    <mat-error *ngIf="oldpass==true">
                        <p class="password">Please check your old password</p>
                    </mat-error>
                    <mat-error *ngIf="password1==true">
                        <p class="password">Your Password doesn't match</p>
                    </mat-error>

                    <!-- <p  class="text-danger">Please check your old password</p> -->
                    <!-- <p *ngIf="password1==true" class="text-warning">Your Password doesn't match</p> -->
                </form>



                <!-- <div class="text-center mb-2">
                    <button mat-raised-button class="btn-block" (click)="changePassword(changedata)">Submit</button>
                </div> -->

                <div class="text-center mb-2">
                    <button mat-raised-button class="btn-block back" color="warn" (click)="cancel()">Cancel</button>
                </div>



            </div>
        </div>
    </section>