<!-- <h3 class="pl-4" style="position: relative;
top: 40px;
font-weight: 700;position: relative;">Route Planning Parameters</h3>
<br><b>
<div class="container-fluid"   >
<hr   >

<div class="row">
   <div class="col-lg-4">
    <label for="" style=" font-weight: 400;"  class="pl-1"> Anticipatory job variable lower limit  (0 - 100)</label>
    <input type="text" class="form-control" placeholder=" anticipatory job variable lower limit" name="" id="">

   </div> 
   <div class="col-lg-4">
    <label for="" style="   font-weight: 400;" class="pl-1"> Anticipatory job variable upper limit (0 - 100)</label>
     
    <input type="text" class="form-control" placeholder=" anticipatory job variable upper limit
    " name="" id="">

</div> 
<div class="col-lg-4">
    <label for="" style="   font-weight: 400;" class="pl-1">Anticipatory job threshold pickup
        (0 - 100) </label>
    <input type="text" class="form-control" placeholder=" anticipatory job threshold pickup
    " name="" id="">
</div> 
</div>

<div class="row mt-5">
    <div class="col-lg-4">
        <label for="" style="   font-weight: 400;" class="pl-1">Anticipatory job threshold delivery  (0 - 100)</label>
        <input type="text" class="form-control" placeholder=" anticipatory job threshold delivery" name="" id="">

    </div> 
    <div class="col-lg-4">
        <label for="" style="   font-weight: 400;" class="pl-1"> Maximum cargo weight group
            (0 - 100)   </label>
        <input type="text" class="form-control" placeholder=" maximum cargo weight group
        " name="" id="">
 </div> 
 <div class="col-lg-4">
    <label for="" style="   font-weight: 400;"   class="pl-1"> cargo weight split   (0 - 100) </label>
    <input type="text" class="form-control" placeholder=" cargo weight split" name="" id="">

 </div> 
 </div>
 <div class="row mt-5">
    <div class="col-lg-4">
        <label for="" style="   font-weight: 400;"   class="pl-1"> vehicle departure start  (0 - 100)</label>
        <input type="text" class="form-control" placeholder=" vehicle departure start" name="" id="">

    </div> 
    <div class="col-lg-4">
        <label for="" style="   font-weight: 400;"   class="pl-1"> vehicle departure end  (0 - 100) </label>
            <input type="text" class="form-control" placeholder="vehicle departure end" name="" id="">
 
 </div> 
 <div class="col-lg-4">
    <label for="" style="   font-weight: 400;"   class="pl-1"> Break time start (0 - 100)  </label>
    <input type="text" class="form-control" placeholder=" break time start" name="" id="">

 </div> 
 </div>
 <div class="row mt-5">
    <div class="col-lg-4">
        <label for="" style="   font-weight: 400;"  class="pl-1"> Break time_end  (0 - 100) </label>
        <input type="text" class="form-control" placeholder=" break time end" name="" id="">

    </div> 
    <div class="col-lg-4">
        <label for="" style="   font-weight: 400;"  class="pl-1"> Second round start  (0 - 100) </label>
        <input type="text" class="form-control" placeholder=" second round start" name="" id="">

 </div> 
 <div class="col-lg-4">
    <label for="" style="   font-weight: 400;"  class="pl-1"> FRES vol util  (0 - 100) </label>
    <input type="text" class="form-control" placeholder=" FRES vol util" name="" id="">

 </div> 
 </div>
 <div class="row mt-5">
    <div class="col-lg-4">
        <label for="" style="   font-weight: 400;"  class="pl-1">FRED01 vol util (0 - 100)
        </label>
        <input type="text" class="form-control" placeholder=" FRED01 vol util
        " name="" id="">
    </div> 
    <div class="col-lg-4">
        <label for="" style="   font-weight: 400;"  class="pl-1"> FRED02 vol util (0 - 100) </label>
        <input type="text" class="form-control" placeholder=" FRED02 vol util" name="" id="">

 </div> 
 <div class="col-lg-4">
    <label for="" style="   font-weight: 400;"  class="pl-1"> FRED03 vol util (0 - 100) </label>
    <input type="text" class="form-control" placeholder="FRED03_vol_util" name="" id="">

 </div> 
 </div>
   
    <br>
    <div class="row mt-5 ">

        <div class="col-lg-4 ">
            <label for="" style="   font-weight: 400;"  class="pl-1"> FRED04 vol util (0 - 100)
            </label>
            <input type="text" class="form-control" placeholder="FRED04 vol util
            " name="" id="">
        </div>
        <div class="col-lg-4 ">
            <label for="" style="   font-weight: 400;"  class="pl-1"> Dummy vehicle activation  (0 - 100) </label>
            <input type="text" class="form-control" placeholder=" dummy vehicle activation" name="" id="">
  
                   </div>
        <div class="col-lg-4 ">
            <label for="" style="   font-weight: 400;"  class="pl-1"> outsource vehicle activation  (0 - 100) </label>
            <input type="text" class="form-control" placeholder=" outsource vehicle activation" name="" id="">
 
                  </div>
   
       

    </div>
    <div class="row mt-5">

        <div class="col-lg-4 ">
            <label for="" style="   font-weight: 400;"  class="pl-1"> max waiting time (0 - 100)  </label>
            <input type="text" class="form-control" placeholder=" max waiting time" name="" id="">

                  </div>
        <div class="col-lg-4 ">
            <label for="" style="   font-weight: 400;"  class="pl-1"> Data model chunksiz  (0 - 100) </label>
            <input type="text" class="form-control" placeholder=" data model  chunksiz " name="" id="">
  
                </div>
     
       

    </div>

</div> -->
<!-- <br> <br>   <br>
    <h3 class=""   style="font-weight: 700;  position: relative;
    left: 8.7%;">Load Planning Parameters</h3>
    <br>
    <div class="container-fluid" >
        <hr   style="    width: 65%;
position: relative;
right: 10%;">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <label for="" style=" font-weight: 400;">Volume Utilisation</label>
                <input type="text" placeholder="Volume Utilisation" class="form-control"     style="position: relative;
                right: 4%; ">
            </div>
        </div>
    </div> -->




  <!-- <h3 class="text-center" style="position: relative;
 top: 50px;
 font-weight: 700;">Optimisation Maintenance Tasks</h3>
 <br><br><br><br><br><b><br><br><br></b>
 <div class="container-fluid  text-center">
     <div class="row ">
         <div class="col-lg-12 ">
             <button class="btn btn-primary" style="font-size: 21px;
             width: 25%;
             height: 7vh;">Travel Matrix Creation</button>
         </div>

     </div>
     <br>
     <br>
     <div class="row">
         <div class="col-lg-12">
             <button class="btn btn-primary" style="font-size: 21px;
             width: 25%;
             height: 7vh;">Travel Matrix Upadate</button>

         </div>
     </div>
     <br>
     <br>
     <div class="row">
         <div class="col-lg-12">
             <button class="btn btn-primary" style="font-size: 21px;
             width: 25%;
             height: 7vh;">Precision Modelling</button>

         </div>
     </div>
     <br>
     <br>
     <div class="row">
         <div class="col-lg-12">
             <button class="btn btn-primary" style="font-size: 21px;
             width: 25%;
             height: 7vh;">Precision Module Update</button>

         </div>
     </div>
 </div> -->


 <!-- <div class="container-fluid">
<div class="row">
    <h3 class="pl-4" style="position: relative;

 font-weight: 700;">Optimisation Maintenance Tasks</h3>
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-stripped table-bordered"   >
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Job Status</th>
                        <th>Last run status</th>
                        <th>Last run date & time</th>

                        <th> Log Remarks</th>
                        <th> Last run By</th>
                        <th>Activity</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr  >
                       
                     
                        <td  >
                           Travel Matrix Creation
                        </td>
                        <td >
                            Idle
                        </td >
                        <td  >
                           
                        </td>
                        <td> 2022/01/01 20:00: 00 - 2022/03/02 20: 00: 00</td>
                        <td></td>
                        <td></td>
                        <td> <button  class="btn btn-success"   style="font-size: 12px;
                            width: 37%;">Run</button></td>
                    </tr>
                    <tr  >
                       
                     
                        <td  >
                            Travel Matrix Upadate
                        </td>
                        <td >
                            In-Progress
                        </td>
                        <td >
                          
                            
                        </td>
                        <td> 2022/01/01 20:00: 00 - 2022/03/02 20: 00: 00</td>
                        <td></td>
                        <td></td>
                        <td></td>                    </tr>
                    <tr  >
                       
                     
                        <td  >
                           Precision Modelling
                        </td>
                        <td >
                            Idle
                        </td>
                        <td >
                                                 </td>
   <td> 2022/01/01 20:00: 00 - 2022/03/02 20: 00: 00</td>
   <td></td>
   <td></td>
   <td> <button  class="btn btn-success"   style="font-size: 12px;
                            width: 37%;">Run</button>  </td>                    </tr>
                    <tr  >
                       
                     
                        <td  >
                            Precision Module Update
                        </td>
                        <td>
                            In-progress
                        </td>
                        <td>
                       
                                 </td>
                                 <td> 2022/01/01 20:00: 00 - 2022/03/02 20: 00: 00</td>
                                 <td></td>
                                 <td></td>
                                 <td></td>                    </tr>
                </tbody>
            
            </table>
        </div>
    </div>
</div>
</div> -->
