<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 1)" template="<img src='../../../assets/04de2e31234507.564a1d23645bf.gif'/>">
</ngx-spinner> -->
<div class="container-fluid  ">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <mat-card>

                <div class="containe">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="text-center login">Register</h4>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label> <i class="fa fa-envelope"></i> First Name</mat-label>
                                    <input matInput text="text" placeholder="Enter First Name">
                                </mat-form-field>





                            </form>

                        </div>
                        <div class="col-lg-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label> <i class="fa fa-envelope"></i> Last Name</mat-label>
                                    <input matInput type="text" placeholder="Enter Last Name">
                                </mat-form-field>





                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label> <i class="fa fa-envelope"></i> Email Address</mat-label>
                                    <input matInput type="email" placeholder="Enter Email Address">
                                </mat-form-field>





                            </form>

                        </div>
                        <div class="col-lg-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label> <i class="fa fa-envelope"></i> Contact No</mat-label>
                                    <input matInput type="number" placeholder="Enter Contact No">
                                </mat-form-field>





                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label> <i class="fa fa-envelope"></i> Password</mat-label>
                                    <input matInput type="password" placeholder="Enter Password">
                                </mat-form-field>





                            </form>

                        </div>
                        <div class="col-lg-6">
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                    <mat-label> <i class="fa fa-envelope"></i> Confirm Password</mat-label>
                                    <input matInput type="password" placeholder="Enter Confirm Password">
                                </mat-form-field>





                            </form>
                        </div>
                    </div>
                    <h4 class="mt-2 forgot">Forgot Password</h4>
                    <button mat-raised-button class="btn-block  mt-2" (click)="submit(reg)">Submit</button>
                    <h4 class="mt-2"><input type="checkbox" class="checkbox"> <span class="agree pl-2">I agree to terms and condition</span> </h4>

                </div>
            </mat-card>

        </div>
    </div>
</div>