mat-card {
    box-shadow: rgba(11, 11, 11, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
    // box-shadow: rgb(242, 208, 197) 0px 10px 50px !important;
    // box-shadow: #020007 0px 10px 40px !important;
    top: 160px;
    // border-radius: 8px;
    padding: 18px 28px 38px;
}

.login {
    letter-spacing: 2px;
    font-size: 18px;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3) !important;
}

.btn-block {
    background: #3cb371;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    box-shadow: rgba(11, 11, 11, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
    outline: none !important;
}

.forgot {
    letter-spacing: 2px
}

* {
    letter-spacing: 2px
}

// .form-control {
//     border-radius: 18px;
// }
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.checkbox {
    position: relative;
    top: 1px;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: rgb(53, 53, 53) !important;
}

::ng-deep.mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(53, 53, 53) !important;
}

.container-fluid {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../assets/marek-piwnicki-Vw608pbz7zs-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: rgba(11, 11, 11, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
    // height: 100vh
}

.checkbox:checked:before {
    background-color: green;
}

.checkbox:checked:after {
    background-color: green;
}